<div class="ramu">
  <h1 class="heading">sma.al</h1>
  <p class="random"> Enter the URL you would like shortened:</p>
  <%= form_for Link.new, url: '/link' do |t| %>
    <%= t.text_field :original_url, class: 'sumit'%>
    <button id='submit'>make it Sma.al</button>
  <% end %>
  </div>
</html>
