<html>
<head>
  <style>
    #submit{
      background:pink;
      border:1px solid transparent;
      height:50px;
    }
  </style>
</head>
<body>
  <h1>SMA.AL</h1>
  <p> Enter the URL you would like shortened:</p>
  <%= form_for Link.new, url: '/link' do |t| %>
    <%= t.text_area :original_url %>
    <button id='submit'>make it Sma.al</button>
  <% end %>
</body>
</html>