<h1 class="heading">Here is your short link!</h1>
<div class="ramu">
<a href=<%= @short_url %> target = "_blank", class= "link"><p class="sumit link"><%= @short_url %></p></a>
<a href='/', class="sumit link"><p>Make another link sma.al</p></a>
</div>
