<br><br><br><br><h1 class="heading">Here is your short link!</h1>
<div class="ramu">
<a href=<%= @short_url %> target = "_blank", class= "link"><div class="disp link"><%= @short_url %></div></a>
<br>
<a href='/', class="back link"><p>Make another link sma.al</p></a>
</div>
