.heading {
  text-align: center;
  font-size: 7em;
}
.cuscont {
  margin-left: 5px;
}
.ramu {
  text-align: center;
}
.random {
  font-size: 1.7em;
}
#submit {
  font-size: 1.5em;
  background: transparent;
  border: 2px black solid;
  cursor: pointer;
}
.sumit {
  font-size: 1.5em;
}
.link {
  text-decoration: none;
  padding: 0px;
}
.link:hover {
  font-size: 2rem;
  color: black;
}
